<nav class="navbar navbar-dark bg-primary text-white" aria-label="header">
  <div class="container-fluid">
    <div class="navbar-brand-container d-flex justify-content-center align-items-center">
      <button
        type="button"
        class="btn btn-primary me-2"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidenav"
        aria-controls="sidenav">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <a class="navbar-brand pt-0 pb-0" [routerLink]="['/']">Virtual Store</a>
    </div>
    <div>
      <ng-container *ngIf="isLoggedIn(); then loggedIn; else notLoggedIn"></ng-container>
      <ng-template #notLoggedIn>
        <button type="button" class="btn btn-primary" (click)="onLoginClick()">Login</button>
      </ng-template>
      <ng-template #loggedIn>
        <button type="button" class="btn btn-primary" (click)="onLogoutClick()">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>
