<nav class="navbar navbar-dark bg-primary text-white" aria-label="header">
  <div class="container-fluid">
    <div class="navbar-brand-container d-flex justify-content-center align-items-center">
      <button
        type="button"
        class="btn btn-primary me-2"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidenav"
        aria-controls="sidenav">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <a class="navbar-brand pt-0 pb-0" href="#">Virtual Store</a>
    </div>
  </div>
</nav>
